@import'./variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width:1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width:720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: $backgroud;
  color: $font-color;
  &,
  input,
  textarea, 
  button {
    font: 400 1rem "Inter", sans-serif; 
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.login {
  background: $blue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--logo {
    max-width: 600px;
    width: 100%;
  }
  &--content {
    flex-basis: 35%;
    >img {
      margin-bottom: 3rem;
    }
    h1 {
      font-size: 2rem;
      color: $white;
      margin-bottom: 1.2rem;
    }
  }
  &--info {
    display: flex;
    align-items: center;
    max-width: 65%;
    margin-bottom: 2.2rem;
    img {
      margin-right: 1.2rem;
    }
    
    p {
      margin-bottom: 0;
      font-size: 1.1rem;
      color: $text-blue;
    }
  }
  form {
    display: flex;
    align-items: center;
    height: 4.6rem;
    max-width: 75%;
    flex-wrap: nowrap;

    input {
      flex-grow: 1;
      height: 100%;
      border-color: transparent;
      border: none;
      padding: 2rem;
      width: 100%;
      font-size: 1.24rem;
      color: $text-blue;
      background: linear-gradient(90deg, #4953B8 6%, #4953b86b 50%);
      &:focus {
        outline: $gray-line;
        // color: lighten($color: #000000, $amount: 0);
      }
    }

    button {
      height: 100%;
      background: $blue-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem;
      font-size: 2.0rem;
      color: $white;
      border: 0;
    }
  }
}